img{
   width: 25%; 
   height: 25%;
   margin-right: 40px;
}
.imagem1{
    display: flex;
;   align-items: inline;
}
.imagem2{
    display: flex;
;   align-items: inline;
    vertical-align: top;
}
.texto{
    margin-left: -20px;
}
body{
    background-color: black;
    color: azure;
}
.imagem3{
    display: flex;
    align-items: inline;
}
.texto2{
        vertical-align: top;
}
